.nav {
  background-color: cadetblue;
  display: flex;
  height: 70px;
  width: 1520px;
  padding: 4px;
  margin: 4px;
  border-radius: 5px;
}
.brand {
  color: white;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}
img {
  margin-left: 40px;
  display: flex;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.wrapper {
  display: flex;
  margin-left: auto;
}
ul {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 0px;
  flex-direction: column-reverse;
  justify-content: space-evenly;
}
ul li {
  display: inline-block;
}
ul li:hover {
  background: blueviolet;
}
ul li:hover ul {
  display: block;
}
ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
ul li ul li {
  background: burlywood;
  display: block;
  text-align: center;
}
ul li ul li a {
  display: block;
}
ul li ul li:hover {
  background: white;
}
.nav-link {
  color: white;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  margin-top: 0;
  padding: 25px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
}
.nav-link:hover {
  background: blueviolet;
}
